<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raju.player">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application android:label="@string/app_name">

        <activity android:name=".BasePlayerActivity"
            android:exported="true"/>

        <service android:name=".service.SongPlayerService"
            android:exported="true"/>

    </application>

</manifest>